#caseAlerte {
    position: fixed;
    top: 0;
    left: 0;
    height: 43vh;
    width: 15vw;
    background: rgb(30, 23, 39);
    border: solid 5px black;
    border-radius: 10px;
    padding: 25px 0px 15px 25px;
    top: -25px;
    left: -15px;
    font-size: clamp(10px, 1.5vmin, 30px);
    justify-content: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22.5vh 22.5vh;
    z-index: 99;
}

.AlerteType {
    font-size: clamp(10px, 1.5vmin, 30px);
    background: rgb(58, 57, 59);
    text-align: start;
    height: 90%;
    margin: 5px 0px 5px 0px;
    padding: 0.5vmin;
    border: solid 2px black;
    border-radius: 10px 0px 0px 0px;
}

.titreAlerte {
    font-size: clamp(10px, 1.5vmin, 30px);
    background: rgb(73, 0, 0);
    box-shadow: 0px 0px 5px rgb(109, 0, 0);
    padding: 0.7vmin;
    border-radius: 10px;
    margin: 0;
}

.nomAlerte {
    font-size: clamp(5px, 1.5vmin, 30px);
    transition: 0.25s;
    box-shadow: 0px 0px 5px rgba(94, 94, 94, 0.685);
    padding: 0.2vmin;
    border-radius: 10px;
    margin: 0.5vmin;
}
.nomAlerte:hover {
    background: rgb(88, 81, 95);
    box-shadow: 0px 0px 5px rgb(255, 0, 0);
    scale: 1.1;
}
#survol {
    background: rgb(62, 56, 68);
    border: solid 5px black;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    position: fixed;
    top: 10px;
    left: 15vw;
    z-index: 100;

}